.title{
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
}

.text {
    font-size: 16px;
    display: flex ;
    margin: 0 auto;   
    text-align: justify;
    color: var(--text-secondary);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 16px; 
  background: var(--container-bg);
  border: 3px solid var(--border);
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.spinner {
  border: 4px solid #afafaf;
  border-top: 4px solid #d40000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

